<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      body{
            margin-left: 20px;
        }
        .sidebar ~ .mainhomecontent {
   margin-left: 260px;
   transition: width 0.3s ease, padding 0.3s ease;

}

.sidebar.close ~ .mainhomecontent  {
   margin-left:  80px;
   transition: width 0.3s ease, padding 0.3s ease;

}
    </style>
</head>
<body>
    <br><br><br><br><br>
<main class="mainhomecontent">
    <h1>usser profile here</h1>
    <h2> {{ user.username }} </h2>
    <p> {{ user.email }} </p>
</main>

</body>
</html>